# Dependencies
/node_modules
/coverage

# Build Output
/dist                 # Production build folder (Vite creates this)
/out
/build
/temp

# Caching/Logs
.env                  # CRITICAL: If you used an .env file for the frontend
.vite/                # Vite cache directory
npm-debug.log*